<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Form</title>
</head>
<body>
    <center>
        <h1>Insert Webapege Details</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="topic">topic_name</label>
            <input type="text" name="topic" id="topic">
            <label for="name">name</label>
            <input type="text" name="name" id="name">
            <label for="url">url</label>
            <input type="url" name="url" id="url">
        <br><br>
        <input type="submit" value="Insert Webpage">
        </form>
    </center>
</body>
</html>