<!DOCTYPE html>
<html lang="en">
<head>
    <title>select_multiple</title>
</head>
<body>
    <center>
        <h1>Select tag with multiple options</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="topic">topic_name :</label>
            <select name="topic" id="topic" multiple>
                {% for to in topics %}

                    <option value="{{to}}">{{to.topic_name}}</option>

                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Retrive Multiple">
        </form>
    </center>
</body>
</html>